@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .heading {
    @apply text-6xl md:text-7xl lg:text-8xl text-center bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50 font-work-sans font-extrabold shadow-xl;
  }

  .sub-heading {
    @apply font-medium text-lg md:text-xl lg:text-2xl text-white max-w-2xl text-center break-words;
  }

  .button-gradient {
    @apply px-6 py-3 bg-gradient-to-r from-neutral-50 to-gray-400 text-black font-semibold rounded-lg shadow-lg hover:from-neutral-600 hover:to-neutral-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 transition-all ;
  }
}
